/* THIS IS FOR PHANTASY STAR ONLINE PAGES*/

body{
    background: rgb(201,63,199);
background: linear-gradient(90deg, rgba(201,63,199,1) 0%, rgba(142,12,167,1) 35%, rgba(18,191,156,1) 76%, rgba(0,212,255,1) 100%);
    width: 99.01%;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    padding: 0px;
    display: block;
    overflow: none;
}


#wrapper{
    min-height: 100%;
    position: relative;
}


#content-wrap{
    padding-bottom: 2.5rem;
}

/*==========================================================================
TEXT
===========================================================================*/
.text{
    color: hsl(0, 0%, 0%);
    }

.title{
     font-size:40px;
     font-family: 'lato';
     text-align: center;
     font-Weight: bold italic;   
}
.subtitle {
    margin-bottom : 1px;
    border-top: dashed black 1px;
    
}
.date{
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 15px;
    color: hsl(0, 2%, 25%);
    margin-bottom: 0px;
}
.page-description{
    font-size: 18px;
    border: 2px solid rgb(95, 95, 95);
    text-align : center;
    padding: 18px;
}

.CharPics-desc{
    font-size: 17px;
    border-top: dotted  1.5px rgb(95, 95, 95)
}


/*============================================================================
PICTURES
============================================================================*/

.CharPics{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.CharPics-item{
    height: 300px;
    opacity: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0.5px solid hsl(0, 0%, 71%);
}
.main{
    float:right;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
/*============================================================================
HEADER
==========================================================================*/


.nav-bar{
 background: hsl(0, 2%, 9%);
 overflow: hidden;
 border: solid black 1px;
 margin: 0px;
}

.nav-bar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-left: solid hsl(194, 82%, 36%)px;
}



.nav-bar a:hover{
    background-color: hsl(290, 69%, 42%);
    color: black;
}

.last{
    border-right: 0px;
}

.nav-bar a.active{
    background-color : #34d9c0;
}


/* =====================================================================
    FOOTER
=======================================================================
*/

.footer{
    bottom: 0%;
    background-color: hsl(0, 2%, 9%);
    margin-top: 100px;
    margin-bottom: 0px;
    
    padding-bottom:0px;
    padding-right: 15px;
    position: bottom;
    float: bottom;
    position : relative;
    overflow:auto;


}
.Ftext{
    color: grey;
}

.Ftext a{
    text-decoration:none;
    color: hsl(290, 69%, 42%);
}
